requests==2.28.1
beautifulsoup4==4.11.1
fbprophet==0.7.1
folium==0.12.1.post1
imageio==2.19.0
matplotlib==3.6.2
numpy==1.23.1
pandas==1.4.2
scipy==1.9.3
seaborn==0.11.2
selenium==4.4.3
pyweatherbit==2.1.1